body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F26888;
    font-family: 'Roboto', sans-serif;
    
}

.menu a:hover{
    background-color: rgba(255, 255, 255, 0.235);
    border-radius: 10px;
    background-size: 20px;
}

.pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    100% {
      transform: scale(1.1);
      filter: brightness(200%);
    }
  }